{% extends "base.html" %}
{% load static %}
{% load avatar_tags %}


{% block style %}
    <link rel="stylesheet" href="{% static 'static_dev/css/delivery_and_contacts.css' %}">
{% endblock style %}

{% block title %}
    Profile
{% endblock title %}


{% block content %}
<div class="container contacts">
    <div class="row">
        <div class="col-sm-12" align="center"><h2>Profile</h2></div>
        <div class="col-sm-4 col-sm-offset-2">
            <div class="avatar-div">{% avatar user 200 %}</div>
            <br> <br>
            {% if request.user == user %}
                <a href="{% url 'avatar_change' %}">Change avatar</a>
            {% endif %}
            <br> <br>
            <div><strong>Registration date:</strong> {{ user.date_joined|date }}</div>
            <div><strong>Last visit:</strong> {{ user.last_login|timesince }} ago</div>
        </div>
        <div class='col-sm-4'>
                <table class="table table-profile">
                    <tr>
                        <th>First_name: </th>
                        <td>{{ profile.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Second name: </th>
                        <td>{{ profile.second_name }}</td>
                    </tr>
                    <tr>
                        <th>Gender: </th>
                        <td>{{ profile.gender }}</td>
                    </tr>
                    <tr>
                        <th>Birth date: </th>
                        <td>{{ profile.birth_date }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ profile.phone }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ profile.address }}</td>
                    <br>
                </table>

            {% if request.user == user %}
                <a href="{% url 'accounts:edit-profile' %}">Edit profile</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}