{% extends 'base.html' %}
{% load static %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row">

            <!-- Карусель -->
            <div class="col-lg-6">
                <div id="carouselImages" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in product.productimage_set.all %}
                            <li data-target="#carouselImages" data-slide-to="{{ forloop.counter }}"
                                {% if image.is_main %}
                                    class="active"
                                {% endif %}
                            >
                            </li>
                        {% endfor %}
                    </ol>
                  <div class="carousel-inner">
                      {% for image in product.productimage_set.all %}
                        <div class="item
                            {% if image.is_main %}
                              active
                            {% endif %}
                        ">
                          <img  class="d-block w-100" src="{{ image.image.url }}" alt="">
                        </div>
                      {% endfor %}
                  </div>
                  <a class="left carousel-control" href="#carouselImages" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carouselImages" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
            </div>

            <!-- Описание товара -->
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                </br>
                </br>
                <div>
                    <p>
                        <b>Цена:</b> {{ product.price }} руб.
                    </p>
                </div>
                </br>
                <div>
                    {{ product.description }}
                </div>
                </br>
                </br>
                <div class="add-to-basket-form">
                    <form method="post" id="form_buying_product" class="form-inline">
                        {% csrf_token %}
                        Количество:
                        <input type="number" size="1" value="1" min="1" class="num-products-input"> шт.
                        <button type="submit" class="btn btn-success" id="submit-btn"
                            data-id="{{ product.id }}">
                            Добавить в корзину
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}