{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image in product.productimage_set.all %}
                    <img src="{{ image.image.url }}" class="img-responsive" >
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                </br>
                </br>
                <div>
                    <p>
                        <b>Цена:</b> {{ product.price }} руб.
                    </p>
                </div>
                </br>
                <div>
                    {{ product.description }}
                </div>
                </br>
                </br>
                <div class="add-to-basket-form">
                    <form method="post">
                        Количество:
                       <input type="number" size="1" value="1" id="num-products-input"> шт.
                    <button type="submit" class="btn btn-success">
                        Добавить в корзину
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}