{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load avatar_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'static_dev/css/product.css' %}">
{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <br>
    <br>
    <div class="container product">
        <div class="row row-main">

            <!-- Carousel -->
            <div class="col-lg-6">
                <div id="carouselImages" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in product.productimage_set.all %}
                            <li data-target="#carouselImages" data-slide-to="{{ forloop.counter }}"
                                {% if image.is_main %}
                                    class="active"
                                {% endif %}
                            >
                            </li>
                        {% endfor %}
                    </ol>
                  <div class="carousel-inner">
                      {% for image in product.productimage_set.all %}
                        <div class="item
                            {% if image.is_main %}
                              active
                            {% endif %}
                        ">
                          <img  class="d-block w-100" src="{{ image.image.url }}" alt="">
                        </div>
                      {% endfor %}
                  </div>
                  <a class="left carousel-control" href="#carouselImages" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carouselImages" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
            </div>

            <!-- Product -->
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                </br>
                </br>
                <div align="center">
                    <p>
                        {{ product.short_description|linebreaks }}
                    </p>
                </div>
                </br>
                </br>
                <div class="add-to-basket-form">
                    <div>
                        <h4>
                            <b>Price:</b>
                            {% if not product.discount %}
                                {{ product.price }}
                            {% else %}
                                <s>{{ product.price }}</s>
                                <span class="discount-price">{{ product.get_price_with_discount }}</span>
                            {% endif %}
                            RUB
                        </h4>
                    </div>
                    <form method="post" id="form_buying_product" class="form-inline">
                        {% csrf_token %}
                        Qty:
                        <input type="number" size="1" value="1" min="1" class="product-nmb-form">
                        <button type="submit" class="btn btn-success changing-button" id="submit-btn"
                            data-id="{{ product.id }}">
                            Add to basket
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8">
                <p class='lead'><h3>Specifications</h3></p>
                <br>
                <table class="table">
                    <tr>
                        <td>Diagonal: </td>
                        <td>{{ product.diagonal }}</td>
                    </tr>
                    <tr>
                        <td>Display resolution: </td>
                        <td>{{ product.screen_resolution }}</td>
                    </tr>
                    <tr>
                        <td>Built in memory (Gb): </td>
                        <td>{{ product.built_in_memory }}</td>
                    </tr>
                    <tr>
                        <td>RAM (Gb):</td>
                        <td>{{ product.ram }}</td>
                    </tr>
                    <tr>
                        <td>Processor:</td>
                        <td>{{ product.processor }}</td>
                    </tr>
                    <tr>
                        <td>Main camera (Mpx):</td>
                        <td>{{ product.main_camera }}</td>
                    </tr>
                    <tr>
                        <td>Other specifications: </td>
                        <td>{{ product.other_specifications }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="product-comments">
            <div class="row">
                <p class='lead'><h3>Comments</h3></p>
                {% if request.user.is_authenticated %}
                    <form method="POST" action="."> {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type='submit' value='Post comment' class='btn btn-default'>
                    </form>
                {% else %}
                    <p>&nbsp; You must login to comment </p>
                {% endif %}
                <hr/>
                {% for comment in comments %}
                    <blockquote>
                        <div class="comment-body">
                            {% avatar comment.user 55 %}
                            <p>{{ comment.content }}</p>
                        </div>
                        <footer>
                            via <a href="{% url 'accounts:profile' comment.user.username %}">{{ comment.user }}</a> |
                            {{ comment.timestamp|timesince }} ago |
                            <a class='comment-reply-btn' href='#'>Reply</a>
                        </footer>

                        <div class='comment-reply'>
                            {% if comment.children %}<br>{% endif %}
                            {% for child_comment in comment.children reversed %}
                                <blockquote>
                                    <div class="comment-body">
                                        {% avatar comment.user 40 %}
                                        <p>{{ child_comment.content }}</p>
                                    </div>
                                    <footer>
                                        <a href="{% url 'accounts:profile' comment.user.username %}">{{ comment.user }}</a> |
                                        {{ child_comment.timestamp|timesince }} ago
                                    </footer>
                                </blockquote>
                            {% endfor %}
                            <div class="comment-reply-form">
                                <br>
                                {% if request.user.is_authenticated %}
                                    <span class="h5">Reply to {{ comment.user }}:</span>
                                    <form method="POST" action="."> {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                        <input type='submit' value='Reply' class='btn btn-default'>
                                    </form>
                                {% else %}
                                    <p>You must login to comment </p>
                                {% endif %}
                            </div>
                        </div>
                    </blockquote>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}