{% if products_in_basket %}
    {% for product_in_basket in products_in_basket %}

        <div class="product-in-basket row">
            <div class="product-in-basket-img col-lg-4">
                <img src="{{ product_in_basket.get_product_thumbnail_url }}">
            </div>
            <div class="product-in-basket-info col-lg-6">
                <div class="product-in-basket-name">
                    <strong>{{ product_in_basket.product.name }}</strong>
                </div>
                <div class="product-in-basket-nmb-price">
                    <form class="form-change-product" method="post">
                        {% csrf_token %}
                        <input value="{{ product_in_basket.nmb }}" type="number"
                               class="num-products-input" min="1"
                               data-id="{{ product_in_basket.id }}"
                        > x <strong>{{ product_in_basket.product.get_price_with_discount }} RUB </strong>
                    </form>




                </div>
            </div>
            <div class="product-in-basket-remove-btn col-lg-1">
                <button type="button" class="btn btn-danger delete-from-basket" data-id='{{ product_in_basket.id }}'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

    {% endfor %}
{% else %}
    <div class="product-in-basket">
        <div class="empty-basket"><h3>Basket is empty</h3></div>
    </div>
{% endif %}

<input id="hidden_basket_data"
       type="hidden"
       data-total-nmb="{{ products_total_nmb }}"
       data-total-price="{{ products_total_price }}"
       data-products-ids="{{ products_in_basket_ids }}"
>

