{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'static_dev/css/delivery_and_contacts.css' %}">
{% endblock style %}

{% block title %}
    Контакты
{% endblock title %}

{% block content %}

    <div class="container contacts">
        <div class="row">
            <div class="col-lg-6">
                <h3>Реквизиты</h3>
                <hr>
                <p>
                    ООО "Emarket"<br>
                    ИНН 1238273410 ОГРН 3429814013
                </p>

                <h3>Адрес</h3>
                <hr>
                <p>
                    г. Москва, ул. xxxxxxxxxxx, д. 2 <br>
                    Ближайшее метро - Рижская
                </p>

                <h3>Телефоны</h3>
                <hr>
                <p>
                    +7 985 111 22 33<br>
                    +7 985 111 33 44
                </p>

                <h3>Режим работы</h3>
                <hr>
                <p>
                    Пн-Сб: 8.00-20.00 <br>
                    Вс - <mark>Выходной</mark>
                </p>

                <h3>Email</h3>
                <hr>
                <p>
                    <a href="mailto:m.nikolaev1@gmail.com">m.nikolaev1@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Напишите нам</h3>
                <hr>
                <form action="{% url 'contacts' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                      <label for="id_subject">Тема:</label>
                      {{ form.subject.errors }}
                	  {{ form.subject }}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_sender">Ваш E-mail:</label>
                      {{ form.sender.errors }}
                	  {{ form.sender }}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_message">Сообщение:</label>
                      {{ form.message.errors }}
                	  {{ form.message }}
                    </div>
                    &nbsp;
                    <div>
                      {{ form.copy.errors }}
                      <label for="id_copy">{{ form.copy }} Отправить копию себе </label>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="Отправить сообщение"/>
                </form>
            </div>
        </div>
    </div>


{% endblock %}