{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container contacts">
        <div class="row">
            <div class="col-lg-6">
                <h3>Реквизиты</h3>
                <hr>
                <p>
                    ООО "Emarket"<br>
                    ИНН 1238273410 ОГРН 3429814013
                </p>

                <h3>Адрес</h3>
                <hr>
                <p>
                    г. Подольск ул. Литейная 40 <br>
                    автобус №13
                </p>

                <h3>Телефоны</h3>
                <hr>
                <p>
                    +7 985 111 22 33<br>
                    +7 985 111 33 44
                </p>

                <h3>График</h3>
                <hr>
                <p>
                    Пн-Сб: 8.00-20.00 <br>
                    Вс - <mark>Выходной</mark>
                </p>

                <h3>Email</h3>
                <hr>
                <p>
                    <a href="mailto:m.nikolaev1@gmail.com">m.nikolaev1@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Напишите нам</h3>
                <hr>
                <form action="{% url 'contacts' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                      <label for="id_subject">Тема:</label>
                      {{ form.subject.errors }}
                	  {{ form.subject }}
{#                      <input class="form-control" id="id_subject" name="subject" placeholder="Тема">#}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_sender">Ваш E-mail:</label>
                      {{ form.sender.errors }}
                	  {{ form.sender }}
{#                      <input class="form-control" id="id_sender" name="sender" placeholder="Ваш e-mail">#}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_message">Сообщение:</label>
                      {{ form.message.errors }}
                	  {{ form.message }}
{#                      <textarea class="form-control" id="id_message" name="message" placeholder="Введите ваше сообщение"></textarea>#}
                    </div>
                    &nbsp;
                    <div>
                      {{ form.copy.errors }}
                      <label for="id_copy">{{ form.copy }} Отправить копию себе </label>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="Отправить сообщение"/>
                </form>
            </div>
        </div>
    </div>


{% endblock %}