{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contacts
{% endblock title %}

{% block content %}

    <div class="container contacts">
        <div class="row">
            <div class="col-lg-6">
                <h3>Requisites</h3>
                <hr>
                <p>
                    - <br>
                    - <br>
                </p>

                <h3>Address</h3>
                <hr>
                <p>
                    - <br>
                    - <br>
                </p>

                <h3>Phone</h3>
                <hr>
                <p>
                    - <br>
                    - <br>
                </p>

                <h3>Timetable</h3>
                <hr>
                <p>
                    - <br>
                    - <br>
                </p>

                <h3>Email</h3>
                <hr>
                <p>
                    <a href="mailto:m.nikolaev1@gmail.com">m.nikolaev1@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Contact us</h3>
                <hr>
                <form action="{% url 'contacts' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                      <label for="id_subject">Title:</label>
                      {{ form.subject.errors }}
                	  {{ form.subject }}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_sender">Your E-mail:</label>
                      {{ form.sender.errors }}
                	  {{ form.sender }}
                    </div>
                    &nbsp;
                    <div>
                      <label for="id_message">Message:</label>
                      {{ form.message.errors }}
                	  {{ form.message }}
                    </div>
                    &nbsp;
                    <div>
                      {{ form.copy.errors }}
                      <label for="id_copy">{{ form.copy }} Copy yourself </label>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success" value="Send"/>
                </form>
            </div>
        </div>
    </div>


{% endblock %}