{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container delivery">
        <div class="row">
            <div class="col-lg-6">

                <h2>Оплата</h2>
                <br>
                <h3>Наличиные/электронные деньги</h3>
                <ol>
                    <li>Наличными денежными средствами</li>
                    <li>Банковской картой по запросу (курьер приедет с терминалом для оплаты)</li>
                    <li>Картой рассрочки "Халва" сроком до 3 месяцев</li>
                    <li>При оплате картой Кукуруза на Ваш бонусный счет зачислится 5% от покупки</li>
                    <li>Яндекс.Деньги 410011475143131 (без комиссии в любом отделении Евросети или Связного)</li>
                    <li>QIWI кошелек 9255179924</li>
                </ol>

                <h3>Банковский перевод</h3>
                <ol>
                    <li>Перевод на карту Сбербанка 4276 3800 3254 5621</li>
                    <li>Перевод на карту Альфа-Банка 5559 4928 0399 5441</li>
                    <li>Перевод на карту Тинькофф Банка 5213 2437 3867 6707</li>
                    <li>Выставление счета для физических и юридических лиц</li>
                </ol>
                </ol>


            </div>

            <div class="col-lg-6">
                <h2>Доставка</h2>
                <br>
                <h3>В пределах МКАД</h3>
                <ul>
                    <li>с 12-00 до 18-00 при сумме заказа от 4500 руб. - бесплатно</li>
                    <li>с 18-00 до 22-00 при сумме заказа от 4500 руб. - 150 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа от 1500 руб. до 4499 руб. - 200 руб.</li>
                    <li>с 18-00 до 22-00 при сумме заказа от 1500 руб. до 4499 руб. - 350 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа менее 1500 руб. - 300 руб.</li>
                    <li>с 18-00 до 22-00 при сумме заказа менее 1500 руб. - 450 руб.</li>
                    <li>в выходные дни - плюс 200 руб. к стоимости доставки</li>
                </ul>

                <h3>За МКАД</h3>
                <ul>
                    <li>с 12-00 до 18-00 при сумме заказа от 4500 руб. - 30 руб./км</li>
                    <li>с 12-00 до 18-00 при сумме заказа от 1500 руб. до 4499 руб. - 30 руб./км + 200 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа менее 1500 руб. - 30 руб./км + 300 руб.</li>
                    <li>в выходные дни - плюс 200 руб. к стоимости доставки</li>
                </ul>

                <h3>Самовывоз</h3>
                <ul>
                    <li>с 13-00 до 19-00 с понедельника по пятницу - бесплатно (пожалуйста, звоните перед приездом)</li>
                    <li>с 10-00 до 18-00 в субботу - бесплатно (пожалуйста, звоните перед приездом)</li>
                    <li>адрес: г. Москва, ул. xxxxxxxxxxx, д. 2 (ближайшее метро - Рижская)</li>
                </ul>
            </div>
        </div>
    </div>



{% endblock %}

