{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container delivery">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">

                <h2>Доставка и оплата</h2>
                <br>
                <h3>Способы оплаты в нашем магазине</h3>
                <ol>
                    <li>Наличными денежными средствами</li>
                    <li>Банковской картой по запросу (курьер приедет с терминалом для оплаты)</li>
                    <li>Картой рассрочки "Халва" сроком до 3 месяцев</li>
                    <li>При оплате картой Кукуруза на Ваш бонусный счет зачислится 5% от покупки</li>
                    <li>Яндекс.Деньги 410011475143131 (без комиссии в любом отделении Евросети или Связного)</li>
                    <li>QIWI кошелек 9255179924</li>
                    <li>Перевод на карту Сбербанка 4276 3800 3254 5621</li>
                    <li>Перевод на карту Альфа-Банка 5559 4928 0399 5441</li>
                    <li>Перевод на карту Тинькофф Банка 5213 2437 3867 6707</li>
                    <li>Выставление счета для физических и юридических лиц</li>
                </ol>

                <h3>Доставка в пределах МКАД</h3>
                <ul>
                    <li>с 12-00 до 18-00 при сумме заказа от 4500 руб. - бесплатно</li>
                    <li>с 18-00 до 22-00 при сумме заказа от 4500 руб. - 150 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа от 1500 руб. до 4499 руб. - 200 руб.</li>
                    <li>с 18-00 до 22-00 при сумме заказа от 1500 руб. до 4499 руб. - 350 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа менее 1500 руб. - 300 руб.</li>
                    <li>с 18-00 до 22-00 при сумме заказа менее 1500 руб. - 450 руб.</li>
                    <li>в выходные дни - плюс 200 руб. к стоимости доставки</li>
                </ul>

                <h3>Доставка за МКАД</h3>
                <ul>
                    <li>с 12-00 до 18-00 при сумме заказа от 4500 руб. - 30 руб./км</li>
                    <li>с 12-00 до 18-00 при сумме заказа от 1500 руб. до 4499 руб. - 30 руб./км + 200 руб.</li>
                    <li>с 12-00 до 18-00 при сумме заказа менее 1500 руб. - 30 руб./км + 300 руб.</li>
                    <li>в выходные дни - плюс 200 руб. к стоимости доставки</li>
                </ul>

                <h3>Самовывоз</h3>
                <ul>
                    <li>с 13-00 до 19-00 с понедельника по пятницу - бесплатно (пожалуйста, звоните перед приездом)</li>
                    <li>с 10-00 до 18-00 в субботу - бесплатно (пожалуйста, звоните перед приездом)</li>
                    <li>адрес: г. Москва, Сокольнический Вал, д. 2А (ближайшее метро - Рижская)</li>
                </ul>

            </div>
        </div>
    </div>



{% endblock %}

