<footer class="footer">
    <div class="container">
        <div class="col-lg-4">
            <a href="{% url 'contacts' %}"><h4>Contacts</h4></a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'delivery' %}"><h4>Payment and delivery</h4></a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'orders:checkout' %}"><h4>Checkout</h4></a>
        </div>
    </div>
    <hr>
    <div>
        <span class="copyright">(c) Mikhail Nikolaev, 2018</span>
    </div>
</footer>