<footer class="footer">
    <div class="container">
        <div class="col-lg-4">
            <a href="{% url 'contacts' %}"><h4>Обратная связь</h4></a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'delivery' %}"><h4>Оплата и доставка</h4></a>
        </div>
        <div class="col-lg-4">
            <a href="{% url 'checkout' %}"><h4>Оформить заказ</h4></a>
        </div>
    </div>
    <hr>
    <div>
        <span class="col-lg-offset-5 col-lg-4 copyright">(c) Михаил Николаев, 2018</span>
    </div>
</footer>