{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div class="section-top">
        <img src="{% static 'static_dev/img/slider0.jpg' %}" class="img-responsive">
    </div>


{# Android section #}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                       Android
                    </h1>
                </div>
                {% for product in android_devices %}
                    {% include 'product_item.html' %}
                {% endfor %}

            </div>
        </div>
    </div>


{# iOS section #}

    <div class="section section-ios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                       iOS
                    </h1>
                </div>
                {% for product in ios_devices %}
                    {% include 'product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}