{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div class="section-top">
        <img src="{% static 'static_dev/img/slider0.jpg' %}" class="img-responsive">
    </div>

    <div class="col-lg-3 col-lg-offset-8">
        <form method="POST" action="{% url 'main' %}" id="search_form">
            {% csrf_token %}
            <input type="text" value="{{ request.POST.search }}" placeholder="type here" name="search">
            <button type="submit">Search</button>
        </form>
    </div>


{#    {% if search_result %}#}
{#        <div class="section">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    {% if not queryset %}#}
{#                        <div class="col-lg-12">#}
{#                            <h2 class="text-center">#}
{#                               Nothing matched#}
{#                            </h2>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="col-lg-12">#}
{#                            <h1 class="text-center">#}
{#                               Search result#}
{#                            </h1>#}
{#                        </div>#}
{#                        {% for product in queryset %}#}
{#                            {% include 'product_item.html' %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    {% else %}#}
        {# Android section #}
{#            <div class="section">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <h1 class="text-center">#}
{#                               Android#}
{#                            </h1>#}
{#                        </div>#}
{#                        {% for product in android_devices %}#}
{#                            {% include 'product_item.html' %}#}
{#                        {% endfor %}#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}


            <div class="section section-ios">
                <div class="container">
                    <div class="row">
{#                        <div class="col-lg-12">#}
{#                            <h1 class="text-center">#}
{#                               #}
{#                            </h1>#}
{#                        </div>#}
                        <div class="col-lg-3 filter-div">
                            <form>
                                {{ form.os_select }}
                            </form>
                        </div>
                        <div class="col-lg-9">
                            {% for product in queryset %}
                                {% include 'product_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>



{#    {% endif %}#}
{% endblock %}