 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main' %}">Emarket</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="main"><a href="{% url 'main' %}">Главная</a></li>
            <li id="delivery"><a href="{% url 'delivery' %}">Оплата и доставка</a></li>
            <li id="contacts"><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li id="checkout">
                <a id="basket-in-navbar" href="{% url 'checkout' %}">Корзина <span id="basket_total_nmb">
                    {% if products_total_nmb %}
                        ({{ products_total_nmb }})
                    {% endif %}
                </span></a>

                <div class="container basket hidden">
                    <div class="basket-products-list">
                        {% if products_in_basket %}
                            {% for product_in_basket in products_in_basket %}
                                <div class="product-in-basket">
                                    {{ product_in_basket.product.name }},
                                    <strong>({{ product_in_basket.nmb }} шт.)</strong>

                                    <button type="button" class="close delete-from-basket" data-id='{{ product_in_basket.id }}'
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="product-in-basket" id="empty-basket">Корзина пуста!</div>
                        {% endif %}
                    </div>
                    <div class="total_price_div">
                        Сумма: <span class="total_price h4">{{ get_basket_total_price }}</span> руб.
                    </div>

                    <form action="{% url 'checkout' %}">
                        <button class="btn btn-warning" id="btn_to_basket"><span class="h4">Заказать</span></button>
                    </form>
                </div>

            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>

    </nav>