 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main' %}">Emarket</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="main"><a href="{% url 'main' %}">Главная</a></li>
            <li id="delivery"><a href="{% url 'delivery' %}">Оплата и доставка</a></li>
            <li id="contacts"><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li id="checkout">
                <a id="basket-in-navbar" href="{% url 'checkout' %}">Корзина
                    <span id="basket_total_nmb"></span>
                </a>

                <div class="container basket hidden">
                    <div class="basket-products-list">

                        <!-- Script.js puts html here -->

                    </div>
                    <div class="total_price_div">
                        Сумма: <span class="total_price h4"></span> руб.
                    </div>

                    <form action="{% url 'checkout' %}">
                        <button class="btn btn-warning" id="btn_to_basket"><span class="h4">Оформление заказа</span></button>
                    </form>
                </div>

            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>

    </nav>