{% load static %}

<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'main' %}">Emarket</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="main"><a href="{% url 'main' %}">Главная</a></li>
            <li id="delivery"><a href="{% url 'delivery' %}">Оплата и доставка</a></li>
            <li id="contacts"><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#">Hello, {{ request.user }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <img class="login-icons" src="{% static 'static_dev/open-iconic-master/svg/account-logout.svg' %}">
                            logout
                        </a>
                    </li>
                {% else %}
                    <li id="login">
                        <a href="{% url 'login' %}">
                            <img class="login-icons" src="{% static 'static_dev/open-iconic-master/svg/account-login.svg' %}">
                            login
                        </a>
                    </li>
                    <li id="register">
                        <a href="{% url 'register' %}">
                            <img class="login-icons" src="{% static 'static_dev/open-iconic-master/svg/person.svg' %}">
                            register
                        </a>
                    </li>
                {% endif %}

                <li id="checkout">
                    <a id="basket-in-navbar" href="{% url 'checkout' %}">Basket
                        <img class="basket-icon" src="{% static 'static_dev/open-iconic-master/svg/cart.svg' %}">
                        <span id="basket_total_nmb"></span>
                    </a>

                    <div class="container basket">
                        <div class="basket-products-list">

                            <!-- Script.js puts html here -->

                        </div>
                        <div class="total-price-and-button row">
                            <div class="total-price-col col-lg-6">
                                <div class="total-price-div">
                                    Сумма: <span class="total_price h4"></span> руб.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <form action="{% url 'checkout' %}">
                                    <button class="btn btn-info" id="btn_to_basket"><span class="h5">Оформление заказа</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>

    </nav>