<div class="col-lg-3">
    <div class="product-item">
        <a href="{% url 'product' product.id %}">
            <div class="center-core">
                    <img src="{{ product.get_main_img_url }}" class="img-responsive">
            </div>

            {%  if product.discount  %}
                <div class="discount">
                    {{ product.discount }}%
                </div>
            {% endif %}

                <h4>{{ product.name }}</h4>
        </a>
        <p> {{ product.short_description }} </p>
        <div class="price">
            <h4>{{ product.price }} RUB </h4>
        </div>
        <div class="add-to-cart-btn">
            <button class="btn btn-success" data-id="{{ product.id }}">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>
