{% load static %}

{% for product in product_list %}
    <div class="col-sm-4">
        <div class="product-item">
            <a href="{{ product.get_absolute_url }}">
                <div class="center-core">
                        <img src="{{ product.get_main_img_url }}" class="img-responsive">
                </div>

                {%  if product.discount  %}
                    <div class="discount">
                        SALE {{ product.discount }}%
                    </div>
                {% endif %}

                    <h4>{{ product.name }}</h4>
            </a>
                <div class="product-info">
                    <div class="row">
                        <table class="col-sm-12 specs">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="{% static 'static_dev/open-iconic-master/svg/cog.svg' %}"
                                         class="icon" alt="icon name"
                                        > {{ product.os }}
                                    </td>
                                    <td>
                                        <img src="{% static 'static_dev/open-iconic-master/svg/hard-drive.svg' %}"
                                         class="icon" alt="icon name"
                                        > {{ product.built_in_memory }} Gb
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{% static 'static_dev/open-iconic-master/svg/fullscreen-enter.svg' %}"
                                         class="icon" alt="icon name"
                                        > {{ product.diagonal }}"
                                    </td>
                                    <td>
                                        <img src="{% static 'static_dev/open-iconic-master/svg/camera-slr.svg' %}"
                                         class="icon" alt="icon name"
                                        > {{ product.main_camera }} Mpx
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-sm-12">
                            <div class="price_and_btn_div">
                                {% if not product.discount %}
                                    <span class="h4">
                                        {{ product.price }} RUB
                                    </span>
                                {% else %}
                                    <span class="h4">
                                        <s>{{ product.price }}</s>
                                    </span>  &nbsp
                                    <span class="h4 discount-price">
                                        {{ product.get_price_with_discount }}
                                    </span> <span class="h4">RUB</span>
                                {% endif %}
                                <div class="add-to-cart-btn">
                                    <button class="btn btn-success changing-button" data-id="{{ product.id }}">
                                        Add to basket
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endfor %}