{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'static_dev/css/checkout.css' %}">
{% endblock %}

{% block title %}
    Order
{% endblock title %}


{% block content %}

{% if products_in_basket %}
        <form class="form-change-product" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center">Order</h3>
                        <hr>

                        <table class="table text-left">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Number</th>
                                <th>Price per item</th>
                                <th>Summ</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product_in_basket in products_in_basket %}
                                <tr data-id="{{ product_in_basket.id }}">
                                    <td>
                                        <img src="{{ product_in_basket.get_product_thumbnail_url }}">
                                    </td>
                                    <td>
                                        <a href="{{ product_in_basket.product.get_absolute_url }}">
                                            {{ product_in_basket.product.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <input value="{{ product_in_basket.nmb }}" type="number"
                                               class="num-products-input checkout" min="1"
                                               data-id="{{ product_in_basket.id }}"
                                        >
                                    </td>
                                    <td>
                                        {% if not product_in_basket.product.discount %}
                                            <span class="product-price">
                                                {{ product_in_basket.price_per_item }}
                                            </span>
                                        {% else %}
                                            <span class="product-price">
                                                <s>{{ product_in_basket.price_per_item }}</s>
                                            </span>
                                            <span class="product-price discount-price">
                                                {{ product_in_basket.product.get_price_with_discount }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="total-product-price">
                                            {{ product_in_basket.total_price }}
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="close checkout-delete-from-basket" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>

        <hr>
        <h4 class="text-center"><b>Total price: </b> <span class="total_price checkout">{{ products_total_price }}</span> RUB</h4>
        <hr>

        <form id="form_client_data" class="form-block col-lg-4 col-lg-offset-5" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Your name</label>
                <span class="form-error">{{ form.name.errors }}</span>
                <input type="text" class="form-control" name="{{ form.name.html_name }}"
                       placeholder="Boris Ivanov"
                       {% if name %}
                        value="{{ name }}"
                       {% endif %}
                >
            </div>

            <div class="form-group">
                <label>Phone</label>
                <span class="form-error">{{ form.phone.errors }}</span>
                <input type="text" class="form-control" name="{{ form.phone.html_name }}"
                       placeholder="+7 777 777 7777"
                       {% if phone %}
                        value="{{ phone }}"
                       {% endif %}
                >
            </div>

            <div class="form-group">
                <label>Email</label>
                <span class="form-error">{{ form.email.errors }}</span>
                <input type="email" class="form-control" name="{{ form.email.html_name }}"
                       placeholder="name@example.com"
                       {% if email %}
                        value="{{ email }}"
                       {% endif %}
                >
            </div>

            <div class="form-group">
                <label>Address</label>
                <span class="form-error">{{ form.address.errors }}</span>
                <input type="text" class="form-control" name="{{ form.address.html_name }}"
                       placeholder="Address"
                       {% if address %}
                        value="{{ address }}"
                       {% endif %}
                >
            </div>

            <div class="form-group">
                <label>Comment to order</label>
                <span class="form-error">{{ form.comments.errors }}</span>
                <textarea class="form-control" id="comments_text" name="{{ form.comments.html_name }}"
                       placeholder="..."
                >{{ request.POST.comments }}</textarea>
            </div>


            <button type="submit" class="btn btn-primary">Buy</button>
            <hr>
        </form>
    {% else %}
        <hr><hr>
        <h2 class="text-center">No products in basket yet</h2>
    {% endif %}

{% endblock %}
