{% extends 'emarket/base.html' %}
{% load static %}

{% block title %}
    Payment and delivery
{% endblock title %}

{% block content %}

    <div class="container delivery">
        <div class="row">
            <div class="col-lg-6">

                <h2>Payment</h2>
                <br>
                <h3>Cash/e-money</h3>
                <hr>
                <ol>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                    content <br>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                </ol>

                <h3>Bank transaction</h3>
                <hr>
                <ol>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                    content <br>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                </ol>
                </ol>


            </div>

            <div class="col-lg-6">
                <h2>Delivery</h2>
                <br>
                <h3>Self-delivery</h3>
                <hr>
                <ul>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                    content <br>
                    - <br>
                    - <br>
                    - <br>
                    - <br>
                </ul>

                <h3>Delivery service</h3>
                <hr>
                <ul>
                    - <br>
                    - <br>
                    content <br>
                    - <br>
                    - <br>
                </ul>

                <h3>Alternatives</h3>
                <hr>
                <ul>
                    - <br>
                    - <br>
                    content <br>
                    - <br>
                    - <br>
                </ul>
            </div>
        </div>
    </div>



{% endblock %}

