html, body{
    height: 100%;
    max-height: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}

.section-top{
    margin-bottom: 20px;
}

.section{
    margin-top: 25px;
    margin-bottom: 70px;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 130px;
    min-height: 900px;
}


.home-image{
    display:inline-block;
    position:relative;
}

.home-image span{
    display:inline-block;
    position:absolute;
    top: 41%;
    left: 25%;
    color: #969696;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vw;
    padding:10px 30px;
}

#signature{
    top: 90%;
    font-size: 37px;
    left: 77%;
}


/*
Navbar
 */

.navbar{
    background-color: #f8f8f8;
    border-bottom: none;
}

.navbar-nav>li>a{
    font-size: larger;
}

.login-icons{
    width: 13px;
}

#menu-btn{
    display: none;
}


/*
Basket button styles
*/

#checkout{
    width: 136px;
}

#basket-in-navbar {
    position: fixed;
    /*height: 50px;*/
    /*width: 136px;*/
    top: 0;
    background-color: #71dc72;
    font-size: large;
    color: black;
    border-radius: 22px;
}

.basket-icon{
    width: 18px;
}

.basket{
    padding: 0;
    position: fixed;
    top: 50px;
    right: 71px;
    height: auto;
    width: 400px;
    background: initial;
    text-align: center;
    display: none;
}

.basket-products-list{
    max-height: 600px;
}

.product-in-basket{
    position: relative;
    height: 115px;
    background-color: #f8f8f8;
    padding: 5px;
    margin: 0;
    border-style: groove;
    border-bottom-style: none;
    text-align: center;
}

.product-in-basket-info{
    position: relative;
    height: 100%;
    text-align: left;
}

.product-in-basket-nmb-price{
    position: absolute;
    bottom: 5px;
}

.product-in-basket-nmb-price h4 {
    margin: 0;
}

.product-in-basket-img{
    padding: 0;
}


.product-in-basket-remove-btn{
    position: relative;
    right: 1px;
    height: 100%;
}

.delete-from-basket {
    position: absolute;
    top: 33px;
    right: 0;
}

.empty-basket{
    text-align: center;
    margin: 40px;
}

.total-price-and-button{
    color: midnightblue;
    text-align: center;
    padding: 5px;
    background-color: #f8f8f8;
    border: groove;
    margin: 0;
    position: relative;
    height: 50px;
}

.total-price-col{
    height: 100%;
}

.total-price-div{
    position: absolute;
    bottom: 1px;
}

.num-products-input{
    width: 35px;
    padding-left: 7px;
}

.btn-to-basket-form{
    text-align: right;
}


/*
SMALL SCREENS
*/
@media screen and (max-width: 992px){

    /* Navbar hides and become accessible by 'menu' button  */
    #navbar li:not(#checkout){
        display: none;
    }

    .navbar-collapse{
        height: 0;
    }

    #checkout{
        position: absolute;
        right: 0px;
    }

    #menu-btn{
        display: inline-block;
    }

    /* Stick basket btn to top right on mobile */
    .basket{
        right: 0;
        top: 40px;
    }

    /*  We need to save space on checkout page */
    .total-price-td{
        display: none;
    }

    /* Layout of product card on home page */
    .product-item{
        height: auto !important;
        flex-direction: row !important;
    }

    .product-item-name{
        min-height: unset;
    }

    .specs{
        margin-bottom: unset !important;
        font-size: large !important;
    }

    .specs > div > div{
        /*margin: 6px !important;*/
        margin-top: 15px !important;
    }

    .price-and-btn-div{
        margin-top: unset;
    }

    .product-info{
        width: 50%;
    }

    .product-img{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .product-item-col{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .product-item{
        height: 200px !important;
    }

    .specs {
        font-size: small !important;
    }

    .specs > div {
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        justify-content: center;
    }

    .specs > div > div {
        margin: 0 !important;
        margin-top: 15px !important;
        min-width: unset !important;
    }

    .product-item-name{
        min-height: unset !important;
    }
}


/*
Product_item styles
*/

.product-item-col{
    min-width: 275px;
}

.product-item{
    height: 400px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    /*width: 50%;*/
}

.product-img{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.product-item-name{
    text-align: center;
    min-height: 38px;
}

.center-core{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-core img{
    max-width: 100%;
    max-height: 90%;
}

.price-and-btn-div{
    margin-top: 12px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-div{
    display: flex;
    align-items: center;
}

.price-div > h4{
    margin-bottom: 0;
}

.icon{
    width: 20px;
    height: 20px;
}

.specs{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    font-size: medium;
    color: black;
    margin-bottom: 15px;
}

.specs > div {
    margin-left: 15px;
}

.specs > div > div {
    margin: 3px;
    min-width: 90px;
}

.discount{
    position: absolute;
    top: 10%;
    background-color: rgba(36, 255, 124, 0.67);
    color: black;
    width: 35%;
    left: 0;
    padding: 3px;
    border-radius: 2px 5px 5px 2px;
}

.add-to-cart-btn{
    margin: 5px;
}


.discount-price {
    color: red;
}


/*
Filter
*/
.search-div{
    margin-bottom: 20px;
    margin-right: 15px;
}

.filter-div {
    background-color: white;
    padding: 20px;
}

.filter-div h3 {
    text-align: center;
    margin-top: 0;
}

.filter-div input[type=checkbox] {
    margin: 3px;
}

.btn-div {
    text-align: center;
}

.filter-div ul {
    padding: 0;
}

.filter-div li {
    display: inline;
}

/*
Delivery, contacts, profile
 */

.delivery .row,
.contacts .row,
.profile .row{
    background-color: white;
    height: 100%;
    min-height: 720px;
    margin: 40px;
    padding: 40px;
}


@media screen and (max-width: 992px){
    .delivery .row,
    .contacts .row,
    .profile .row{
        margin: 5px;
        padding: 0;
    }
}

#orders_header{
    margin-top: 40px;
}

.contacts hr {
    margin: 10px 0;
}

.contacts p,
.delivery ul, ol {
    margin-bottom: 40px;
}

.table-profile tr:first-child{
    border-top: hidden;
}

.avatar-div{
    margin-top: 30px;
}

.table-profile-order th,
.table-profile-order td{
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
}


/*
Footer
*/

.footer{
    position: absolute;
    margin-top: -130px;
    clear: both;
    background-color: #f8f8f8;
    height: 130px;
    width: 100%;
    text-align: center;
}

.footer h4 {
    color: #020101c2;
}

.copyright{
    margin-bottom: 10px;
}


