html, body{
    height: 100%;
    max-height: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}

.section-top{
    margin-bottom: 20px;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 130px;
    min-height: 1300px;
}

.section-ios {
    margin-bottom: 40px;
}




/*
Navbar
 */

.navbar{
    background-color: #f8f8f8;
    border-bottom: none;
}



/*
Product_item styles
*/

.product-item{
    height: 400px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 8px;
    text-align: center;
}

.center-core{
    position: relative;
    width: auto;
    height: 200px;
    margin: 0 auto;
}

.center-core img{
    width: auto;
    margin: auto;
    height: 100%;
}

.price_and_btn_div{
    bottom: 7px;
    position: absolute;
    width: -webkit-fill-available;
}


.discount{
    position: absolute;
    top: 10%;
    background-color: rgba(36, 255, 124, 0.67);
    color: black;
    width: 35%;
    left: 0;
    padding: 3px;
    border-radius: 2px 5px 5px 2px;
}

.add-to-cart-btn{
    margin: 5px;
}


.discount-price {
    color: red;
}


#search_form {
    margin-left: 35px;
}


/*
Basket button styles
*/

#basket-in-navbar {
    position: fixed;
    top: 0;
    background-color: #f8f8f8;
}

.basket{
    padding: 0;
    position: fixed;
    top: 50px;
    right: 30px;
    height: auto;
    width: 400px;
    background: initial;
    text-align: center;
}

.basket-products-list{
    max-height: 600px;
    /*overflow: auto;*/
}

.product-in-basket{
    position: relative;
    height: 115px;
    background-color: #f8f8f8;
    padding: 5px;
    margin: 0;
    border-style: groove;
    border-bottom-style: none;
    text-align: center;
}

.product-in-basket-info{
    position: relative;
    height: 100%;
    text-align: left;
}

.product-in-basket-nmb-price{
    position: absolute;
    bottom: 5px;
}

.product-in-basket-nmb-price h4 {
    margin: 0;
}

.product-in-basket-img{
    padding: 0;
}


.product-in-basket-remove-btn{
    position: relative;
    right: 1px;
    height: 100%;
}

.delete-from-basket {
    position: absolute;
    top: 33px;
    right: 0;
}

.empty-basket{
    text-align: center;
    margin: 40px;
}

.total-price-and-button{
    color: midnightblue;
    text-align: center;
    padding: 5px;
    background-color: #f8f8f8;
    border: groove;
    margin: 0;
    position: relative;
    height: 50px;
}

.total-price-col{
    height: 100%;
}

.total-price-div{
    position: absolute;
    bottom: 1px;
}

.num-products-input{
    width: 35px;
    padding-left: 7px;
}



/*
Filter
 */

.filter-div {
    background-color: white;
}

.filter-div li {
    list-style: none;
}



/*
Footer
*/

.footer{
    position: absolute;
    margin-top: -130px;
    clear: both;
    background-color: #f8f8f8;
    height: 130px;
    width: 100%;
    text-align: center;
}

.footer h4 {
    color: #020101c2;
}

.copyright{
    margin-bottom: 10px;
}


