/*
Checkout styles
 */

.form-error{
    color: red;
}

.total_price.checkout {
    color: #337ab7;
}

#comments_text{
    height: 100px;
}

#form_client_data{
    margin: 0;
    width: 300px;
}

.client-data-div{
    display: flex;
    justify-content: center;
}

.make-order-btn-div{
    display: flex;
    justify-content: flex-end;
}
