/*
Delivery and contacts styles
 */

.delivery .row,
.contacts .row {
    background-color: white;
    height: 100%;
    min-height: 720px;
    margin: 40px;
    padding: 40px;
}

.contacts hr {
    margin: 10px 0;
}

.contacts p,
.delivery ul, ol {
    margin-bottom: 40px;
}

.table-profile tr:first-child{
    border-top: hidden;
}

.avatar-div{
    margin-top: 30px;
}
