/*
Product_detail.html styles
 */

.component{
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    margin: 20px
}

.carousel{
    height: 400px;
    background-color: white;
}

.item > img{
    max-height: 380px;
    margin: auto;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators > li {
    background-color: #337ab7;
}

.carousel-indicators .active {
    background-color: crimson;
}

#carouselImages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control {
    background: none !important;
}
.product .row {
    background-color: white;
    height: 100%;
    margin: 40px;
    padding: 40px;
}

.add-to-basket-form{
    position: relative;
    width: 100%;
    text-align: center;
}

.product-nmb-form{
    width: 35px;
    padding-left: 7px;
}


.product tr > td:first-child{
    color: crimson;
    width: 45%;
}

.product tr{
    white-space: pre;
}


/*
Comments
 */
.comment-reply-form{
    display: none;
}

.comment-body > img{
    float: left;
    margin-right: 20px;
}


@media screen and (max-width: 992px){
    .product .row {
        margin: 0 !important;
        margin-bottom: 10px !important;
        padding: 0 !important;
    }

    .add-to-basket-form{
        bottom: 5px !important;
    }

    blockquote{
        margin: 0 !important;
        border-left: unset !important;
    }

    .comment-reply blockquote{
        border-left: 5px solid #eee !important;
    }

    h3 {
        text-align: center;
    }

    .carousel{
        margin-top: 10px;
    }
}
