/*
Product.html styles
 */

.component{
    padding: 20px;
    background-color: white;
    border-radius: 7px;
    margin: 20px
}

.carousel{
    height: 400px;
    background-color: white;
}

.item > img{
    max-height: 380px;
    margin: auto;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators > li {
    background-color: #337ab7;
}

.carousel-indicators .active {
    background-color: crimson;
}

.product .row {
    background-color: white;
    height: 100%;
    margin: 40px;
    padding: 40px;
}

.product .row-main{
    height: 500px;
}

.row-main .col-lg-6{
    height: 100%;
}

.add-to-basket-form{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.product-nmb-form{
    width: 35px;
    padding-left: 7px;
}


.product tr > td:first-child{
    color: crimson;
    width: 45%;
}

.product tr{
    white-space: pre;
}

.comment-reply-form{
    display: none;
}